﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="table">

    <table class="col-12 mr-auto">
        <tr>
            <th>Nombre</th>
            <th>Titulo</th>
            <th>Fecha</th>

        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td><a href="/home/detallePost?id=@item.Id">@item.Titulo</a></td>
        <td>@item.Autor</td>
        <td>@item.Fecha</td>

    </tr>
        }
    </table>
    <a href="/home/nuevoBlog" class="btn-primary">Nuevo Blog</a>
</div>